apiVersion: v1
kind: Service
metadata:
  name: lab-test-service
spec:
  selector:
    app: lab-test-app
  ports:
  - protocol: "TCP"
    port: 6000
    targetPort: 5000
  type: LoadBalancer

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: lab-test-app
spec:
  selector:
    matchLabels:
      app: lab-test-app
  replicas: 5
  template:
    metadata:
      labels:
        app: lab-test-app
    spec:
      containers:
      - name: lab-test-app
        image: cperez1989/lab
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000